.grid_img-text {
    padding: 20px;

    display: grid;
    grid-template: 
        "img text" 
        / 2fr 3fr;

    justify-items: center;
}

.grid_item-img {
    grid-area: "img";
    width: 75%;
}
.grid_item-text {
    grid-area: "text";
    text-align: left;
}


.img {
    border-radius: 30px;
}

.centerContentVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}