.aboutMe {
	margin: 25px auto;
	text-align: center;
}

.cardGrid.container {
	background: var(--background0);
	padding: 10px;
	border-radius: 15px;

	/* when using flex, cant space around and make it align from left to right
	display: flex;
	flex-flow: row wrap;

	gap: 5px;
	
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
@media screen and (max-width: 1000px) {
	.cardGrid.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 500px) {
	.cardGrid.container {
		grid-template-columns: 1fr;
	}
}

.card {
	background: var(--background1);

	/*border: 1px solid gray;*/
	border-radius: 15px;
}

.card>.header {
	border-radius: 15px;
	padding: 15px;
	padding-bottom: 10px;
}

.cardContent {
	margin: 0 auto;
}

img.cardContent {
	width: 40%;
	aspect-ratio: 1;
	border-radius: 5%;
}

.card>.link {
	width: 100%;
	max-width: 100%;
	padding: 10px 0;
	border-top: 2px solid var(--background2);
	text-align: center;
	border-radius: 0 0 15px 15px;
}

.card>.link:hover {
	background-color: var(--background2);
}